<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link decapitator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/angularController.js}"></script>
    <script type="text/javascript" th:src="@{/js/copy.js}"></script>
    <script type="text/javascript" th:src="@{/js/uploadFile.js}"></script>
    <script type="text/javascript" th:src="@{/js/hideNotifications.js}"></script>

    <script src="../static/js/angularController.js"
            th:src="@{/js/angularController.js}"></script>

    </head>


<body onload="hide();hide1()" ng-app="app">
<form th:action="@{/save}" th:object="${link}" method="post">
    <h1> Enter the URL to shorten</h1>
    <div class="linkInput">
        <input type="text" placeholder="enter some url adress" style="color: dimgrey; font-size: 20px;"
               th:field="*{originalName}"/>
    </div>
    <button class="button" type="submit" value="SHORT!!!">Get short link</button>
</form>

<div class="result" th:if="${mess}">
    <p>Your short link:
        <input type="text" th:value="${mess}" id="myInput" readonly>
        <button class="copy_button" onclick="myFunction()">Copy text</button>
    </p>
</div>
<div class="errors" th:if="${err}">
    <p th:text="${err}">err</p>
</div>

<script>
    function hide() {
        setTimeout(function(){
            document.getElementById('inform').classList.add('hidden');
        },5000)
    }
    function hide1() {
        setTimeout(function(){
            document.getElementById('inform1').classList.add('hidden');
        },5000)
    }
</script>
<div class="content" ng-controller="UserCRUDCtrl">
    <div ng-cloak="" class="tabsdemoDynamicHeight">
        <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Show statiscics">
                    <md-content class="md-padding">
                        <div >

                            <p style="font-size: 20px"><strong>All created links </strong><br>{{stats.countAllLinks}}</p>
                            <p style="font-size: 20px"><strong>Counter redirected links </strong><br>{{stats.redirectedLinksCounter}}</p>

                            <table>
                                <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Count of created links</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="i in ip">
                                    <td>{{i.country}}</td>
                                    <td>{{i.city}}</td>
                                    <td>{{i.countLinksByIp}}</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="my all links">
                    <md-content class="md-padding">
                        <div >
                            <table>
                                <thead>
                                <tr>
                                    <th>Original URL</th>
                                    <th>New URL</th>
                                    <th>Number of visits</th>
                                    <th>Delete key</th>
                                    <th>IP</th>
                                    <th>Created date</th>
                                    <th>Redirect</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="link in links">
                                    <td>{{link.originalName}}</td>
                                    <td>s91.herokuapp.com/{{link.newName}}</td>
                                    <td>{{link.counter}}</td>
                                    <td>{{link.deleteKey}}</td>
                                    <td>{{link.ip}}</td>
                                    <td>{{link.generationDate}}</td>
                                    <td><a class="button" ng-href="/{{link.newName}}" target="_blank">Redirect me</a></td>
                                </tr>
                                </tbody>
                            </table>

                            <button ng-click='previousPage()'>Previous</button>
                                <button ng-click='nextPage()'>Next</button>

                        </div>

                    </md-content>
                </md-tab>
                <md-tab label="delete link">
                    <md-content class="md-padding">
                        <form name="projectForm">

                            <div >
                                <md-input-container flex="50">
                                    <label>Delete link - enter delete key</label>
                                    <input class="delete_input" type="text" required="" name="delete" ng-model="link.deleteKey">
                                    <button class="button_delete" ng-click="deleteUser(link.deleteKey)"> Delete chosen link</button>
                                    <div ng-messages="projectForm.delete.$error">
                                        <div ng-message="required">Delete key is required</div>
                                    </div>
                                </md-input-container>

                            </div>
                        </form>

                    </md-content>
                </md-tab>

                <md-tab label="upload multi urls">
                    <md-content class="md-padding">
                        <div >
                            <form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">

                                <br><br><br>
                                <label for="uploadfile" class = "button_choose_upl">Choose file to upload</label>
                                <br><br>
                                <input style="display: none" type="file" name="file" class = "upload" id ="uploadfile"  >

                                <p>You have choosen: <span id="file-selected" class = "file_path"></span> </p>
                                <br><br>
                                <button class= "button_accept_file" type="submit"  >Submit </button>

                            </form>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    <div class="errors" id = "inform" th:if="${delErr}">
        <p th:text="${delErr}">err</p>
    </div>

<div id="inform1">
    <div class="errors" th:if="${uplErr}">
        <p th:text="${uplErr}">err</p>
    </div>
    <div class="success" th:if="${uplSucc}">
        <p th:text="${uplSucc}">upl succ</p>
    </div>
</div>
</div>

</body>
</html>